*{
    font-family:'Hero';
}
.first-section{
    background-color:#1F2937;
}
.second-section{
    background-color:white;
}
.third-section{
    background-color:#E5E7EB;
}
.fourth-section{
    background-color:white;
}
.footnote{
    background-color:#1F2937;
}