
header{
    background-color:#1F2937;
    font-family:'Hero', sans-serif;
    display:flex;
}
header>p{
   font-size:24px;
    color: #F9FAF8;
    justify-content:flex-start;
}
head{
    flex:1;
    font-size:18px;
    color:#E5E7EB;
    justify-content:flex-end;
    list-style-type:none;
}

.first-section{
    background-color:#1F2937;
}
.second-section{
    background-color:white;
}
.third-section{
    background-color:#E5E7EB;
}
.fourth-section{
    background-color:white;
}
.footnote{
    background-color:#1F2937;
}